name: Nightly Python Job

permissions:
  contents: write

on:
  push:
    branches: [ main ]
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Run Hello World and save output
        run: |
          mkdir -p output
          python main.py > output/output.txt
          cat output/output.txt

      - name: Commit output to repository
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add output/output.txt
          git commit -m "Update nightly output [skip ci]" || echo "No changes"
          git push
